#header{
    float:left;
    background-color:red;
}

#side{
    float:left;
    background-color:blue;
}

#main{
    float:left;
    background-color:purple;
}

#footer{
    float:left;
    background-color:yellow;
}